<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="E:\ConvMoNET\static\styles\info_page.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/info_page.css')}}">
    
<body>
    
  <div class="navbar">
    <ul>
      <li><a href='/guesso'>GUESSO</a></li>
      <li><a href='/anim3'>ANIM-3</a></li>
      <li><a href='/generat_e'>GENERATE</a></li>
      <li><a href='/info'>INFO</a></li>
    </ul>
  </div>

  <div class="logo-div">
    <a href="/"><img src='{{url_for("static", filename="images/Logo.png")}}' width="15%" class="logo"></a><br>

    <img src='{{url_for("static", filename="images/drawing.svg")}}' width="5%"><br>

    <h2 class="fun-fact">
        ”ConvMonet” is my Deep Learning Pet Project<br>
        that is made for fun. Source code is available on GitHub©. <br>
        Project uses Google Quick Draw Dataset that is also Open Source. Here’s the <a hrf="https://quickdraw.withgoogle.com/data">link</a>.<br>
        This is my experiment with deep learning and it’s challenge for me.<br>
        This website uses:<br>
        Tensorflow and Keras<br>
        Flask<br>
        Google Quick, Draw Dataset<br>

        PEACE <img src='{{url_for("static", filename="images/peace.png")}}' width=2%>
    </h2>
  </div>

  <div class="footer">
    <ul>
      <li><p class="bruh">Venchislav</p></li>
      <li><a href='https://twitter.com/venchisla75545'><img src='{{url_for("static", filename="images/x.svg")}}' width=25%></a></li>
      <li><a href='https://github.com/googlecreativelab/quickdraw-dataset'><img src='{{url_for("static", filename="images/google.svg")}}' width=25%></a></li>
      <li><h1 class="year">2024</h1></li>
      <li><a href='https://github.com/Venchislav'><img src='{{url_for("static", filename="images/github.svg")}}' width=25%></a></li>
      <li><a href='https://www.youtube.com/channel/UCFRGI3c4ltX-1CvnWBAnPAA'><img src='{{url_for("static", filename="images/yt.svg")}}' width=25%></a></li>
      <li><p class="bruh">GitHub© Bozo</p></li>
    </ul>
  </div>
  
</body>
</html>
