<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="E:\ConvMoNET\static\styles\main_page.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main_page.css')}}">
    
<body>
    
  <div class="navbar">
    <ul>
      <li><a href='#'>GUESSO</a></li>
      <li><a href='#'>ANIM-3</a></li>
      <li><a href='#'>GENERATE</a></li>
      <li><a href='#'>INFO</a></li>
    </ul>
  </div>

  <div class="logo-div">
    <a href="#"><img src='{{url_for("static", filename="images/Logo.png")}}' width="15%" class="logo"></a>
    <p>OPEN SOURCE<br>
      NEURAL NETWORK<br>
      WORKING WITH<br>
      D R A W I N G S</p>
    
    <img src='{{url_for("static", filename="images/drawing.svg")}}' width="5%">
  </div>

  
</body>
</html>