@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: white;
}

.navbar ul{
    list-style-type: none;
    background-color: black;
    padding: 10px 25px;
    margin: 0;
    text-align: center;
}

.navbar li{
    display: inline-block;

}

.navbar a{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;

    text-decoration: none;
    width: 100px;
    display: block;
    padding: 25px 20px;
    text-transform: uppercase;
}

.navbar a:hover{
    background-color: white;
    color: black
}

.logo-div{
    margin-top: 36px;
    text-align: center;
}

.logo{
    height: 15%;
    width: 15%;
    object-fit: contain
}
.logo-div p{
    text-align: center;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
}
